/* |||| IMPORT FONTS |||| */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* |||| CLASSES FOR CUSTOM FONTS |||| */

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-600 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* |||| ROOTS |||| */

:root {
    /* COLORS */
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

/* |||| RESET |||| */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* |||| SETUP BODY |||| */

body {
    background-color: var(--Stone-100);
    color: var(--Stone-600);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

/*  |||| CARD |||| */

main {
    display: flex;
    justify-content: center;
}

#card {
    background-color: var(--White);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    /* max-width: <900px; */
    max-width: 700px;
}
section {
    margin-bottom: 40px;
    padding: 0 20px;
    width: 100%;
}

/* |||| IMAGE |||| */

img {
    border-radius: 27px;
    object-fit: contain;
    padding: 20px;
    width: 100%;
}

/* |||| HEADER |||| */

h1 {
    color: var(--Stone-900);
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 20px 0;
}

#heading p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

/* |||| PREP TIME |||| */

.container {
    background-color: var(--Rose-50);
    border-radius: 10px;
    padding: 30px 30px 10px;;
}

.container h3 {
    color: var(--Rose-800);
    font-size: 1.4rem;
    margin-bottom: 20px;
}

/* |||| LIST ITEMS |||| */

li {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* Centers the bullet to the text inside of LI element. */

ul li {
    align-items: center;
    display: flex;
    list-style: none;
}

/* Sets up the bullet for the LI element using the ::before psuedo code. */

ul li::before {
    border: solid 4px black;
    border-radius: 50%;
    content: " ";
    display: block;
    margin: 0 30px 0 7px;
}

/* |||| SUBTITLES |||| */

h2 {
    font-size: 2.2rem;
    color: var(--Brown-800);
    margin: 30px 0;
}

/* SEPERATION BORDERS */

hr {
    background-color: var(--Stone-150);
    border: none;
    height: 0.1rem;
    margin: 0 20px;
}

/* |||| INSTRUCTIONS |||| */

ol {
    margin-left: 30px;
}

ol li {
    padding-left: 20px;
}

ol li::marker {
    color: var(--Brown-800);
    font-family: "Outfit";
    font-weight: 700;
}

/* |||| NUTRITION |||| */

#nutrition p {
    font-size: 1.3rem;
}

/* TABLE */

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    
}

th,
td {
    border-bottom: solid 2px var(--Stone-150);
    padding: 20px 0;
    text-align: left;
    width: 50%;
}

th {
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 35px;
}

td {
    color: var(--Brown-800);
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 15px;
}

section:last-of-type {
    margin-bottom: 10px;
}

/* CLASS to remove bottom border of last row in table. */

.no-border {
    border-bottom: none;
}

/* |||| MOBILE SCREEN |||| */

@media screen and (max-width: 480px) {
     img {
        border-radius: 0;
        padding: 0;
     }
     #card {
        padding: 0;
     }
}