/* |||| IMPORT FONTS |||| */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* |||| CLASSES FOR CUSTOM FONTS |||| */

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-600 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* |||| ROOTS |||| */

:root {
    /* COLORS */
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

/* |||| RESET |||| */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* |||| SETUP BODY |||| */

body {
    background-color: var(--Stone-100);
    color: var(--Stone-600);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

/*  |||| CARD |||| */

main {
    display: flex;
    justify-content: center;
}

#card {
    background-color: var(--White);
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
}
section {
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
}

/* |||| IMAGE |||| */

img {
    border-radius: 7px;
    object-fit: contain;
    padding: 20px;
    width: 100%;
}

/* |||| HEADER |||| */

h1 {
    color: var(--Stone-900);
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 20px 0;
}

#heading p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

/* |||| PREP TIME |||| */

.container {
    background-color: var(--Rose-50);
    padding: 20px;
}

.container h3 {
    color: var(--Rose-800);
    font-size: 1.4rem;
    margin-bottom: 20px;
}

/* |||| MOBILE |||| */

@media screen and (max-width: 480px) {
     img {
        border-radius: 0;
        padding: 0;
     }
}